h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-family: $f-headline;
  color: $c-primary;
}

h1 {
  font-size: remCalc(48px);
  margin-bottom: 20px;
}

h2 {
  font-size: remCalc(42px);
  line-height: 1.1;
}

h3,
h4,
h5 {
  font-family: $f-body;
}

h3 {
  font-size: remCalc(32px);
}

p {
  margin: 0 0 25px;
}

.helper {
  color: gray(70);
  padding: 0 $side-padding;
  font-style: italic;
  font-size: remCalc(16px);
  margin: 0;
}
