h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: 800;
  font-family: $f-headline;
  color: $c-white;
  text-transform: uppercase;
}

h1 {
  font-size: remCalc(46px);
  background: $c-white;
  margin: 0 negate($p-content) 20px;
  color: $c-black;
  padding: $p-content/2 $p-content;
  text-align: center;
}

h2 {
  font-size: remCalc(36px);
  line-height: 1.1;
}

h3,
h4,
h5 {
  font-family: $f-body;
}

h3 {
  font-size: remCalc(18px);
  margin-bottom: 3px;
}

p {
  margin: 0 0 25px;
}

.helper {
  font-style: italic;
  font-size: remCalc(15px);
  color: $c-white;
  padding: $p-content 0;
  margin: 0;

  a {
    color: $c-white;
    text-decoration: underline;
  }
}
