$breakpoints: (
  'small'           : ( min-width:  421px ),
  'small-down'      : ( max-width:  420px ),
  'medium'          : ( min-width:  768px ),
  'medium-down'     : ( max-width:  767px ),
  'medium-only'     : unquote('(min-width: 768px) and (max-width: 1024px)'),
  'medium-portrait' : unquote('(min-width: 768px) and (max-width: 959px)'),
  'large'           : ( min-width: 1025px ),
  'large-down'      : ( max-width: 1024px ),
  'print'           : ( only print ),
  'screen'          : ( only screen ),
  'retina'          : unquote('only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)'),
  'portrait'        : unquote('only screen and (orientation: portrait)'),
  'landscape'       : unquote('only screen and (orientation: landscape)'),
  'ie-10-11'        : unquote('only screen and (-ms-high-contrast: active), (-ms-high-contrast: none)')
);

$em-base: 16px !default;
$f-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-serif: Times New Roman, Georgia, serif;
$f-hind: 'hind', $f-sans;

$f-body: $f-hind;
$f-headline: $f-hind;

$c-black: #000;
$c-white: #fff;

$c-red: #AC0A0A;
$c-green: #61dc94;

$c-primary: $c-red;

$c-success: $c-green;
$c-error: $c-red;
$c-delete: $c-red;

$column-gutter: 15px;

$status: (
  inactive: #e8e8e8,
  success: $c-success,
  error: $c-error,
  delete: $c-delete
);

$grays: (
  0: #f8f8f8,
  3: #f3f3f3,
  5: #e0e0e0,
  10: #e8e8e8,
  15: #d8d8d8,
  20: #bdbdcd,
  50: #9a9a9a,
  70: #797979,
  90: #3d3d3d
);

$social: (
  facebook: #5462AB,
  google: #C24B36,
  twitter: #1DA1F2
);


$p-content: 20px;
$p-content: 20px;
$universal-padding: 20px $p-content;
$universal-margin: 15px auto;
$bottom-margin: 60px;
