.round {
  .drawer & {
    padding: 0 $p-content;

    h2 {
      font-size: remCalc(32px);
    }
  }

  .section {
    header {
      .icon {
        margin-left: 5px;
        font-size: remCalc(22px);
        margin-bottom: 8px;
        vertical-align: middle;
      }
    }
  }
}

.round-text {
  padding-top: 8px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.round-content {
  margin: 30px auto;
  padding: $universal-padding;
  color: $c-white;
}
