@import 'imports/index';

.drawer {
  > header {
    cursor: pointer;
    border-top: 1px solid gray(10);
    border-bottom: 1px solid gray(10);

    h1,
    h2,
    h3 {
      margin-bottom: 0;
    }

    svg {
      font-size: remCalc(18px);
      margin-right: 8px;
    }
  }

  &.open {
    > header {
      border-bottom: 0;
    }
  }

  + .drawer {
    > header {
      border-top: 0;
    }
  }
}
