{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
    ["@babel/preset-stage-3", { "decoratorsLegacy": true }],
    ["@babel/preset-stage-2", { "decoratorsLegacy": true }],
    ["@babel/preset-stage-1", { "decoratorsLegacy": true }],
    ["@babel/preset-stage-0", { "decoratorsLegacy": true }]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
