.button {
  background: $c-white;
  color: $c-primary;
  padding: emCalc(10px) emCalc(15px);
  display: block;
  text-align: center;
  cursor: pointer;
  transition: background 0.4s, transform 0.2s, box-shadow 0.4s;
  box-shadow: 0 emCalc(4px) emCalc(6px) rgba($c-black, .11),
              0 emCalc(1px) emCalc(3px) rgba($c-black, .08);
  line-height: 1.4;
  font-size: emCalc(18px);
  font-weight: 800;
  text-transform: uppercase;

  &:hover {
    background: darken($c-white, 15%);
    transform: translateY(-1px);
    box-shadow: 0 emCalc(7px) emCalc(14px) rgba($c-black, .1),
                0 emCalc(3px) emCalc(6px) rgba($c-black, .08);
  }

  &:active {
    background: interaction-state($c-primary, active);
  }

  &.-small {
    font-size: emCalc(14px);
    box-shadow: none;
  }

  &.-right {
    margin: 0 0 0 auto;
    width: auto;
    padding-left: emCalc(35px);
    padding-right: emCalc(35px);
  }

  &.-no-shadow {
    box-shadow: none;
  }

  &.-inverse {
    background: $c-primary;
    color: $c-white;
  }

  &.-large {
    margin-bottom: 30px;
  }

  &.-empty {
    background: none;
    box-shadow: none;
    transform: none;
    padding: 0;
    text-align: left;
    color: $c-primary;

    &:hover {
      color: interaction-state($c-primary, hover);
    }
  }

  em {
    display: block;
    font-size: emCalc(12px);
    font-weight: normal;
  }
}
