fieldset {
  border: 0;
  margin: 0 auto 20px;
  padding: 0;
}

@include placeholder {
  font-style: italic;
  color: gray(20);
}

input,
textarea {
  border: 0;
  box-shadow: none;
  background: none;
  transition: border-color 0.2s ease;
  padding: 4px;
  border-bottom: 1px solid $c-white;
  color: $c-white;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}

input[type="submit"] {
  margin: 0;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

form {
  padding: $universal-padding;

  input,
  textarea {
    width: 100%;
  }
}

label {
  text-transform: uppercase;
  font-size: remCalc(12px);
  padding: 0 4px;
  display: block;
  margin-top: 20px;
}

select {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  background: $c-white;
  border: 1px solid gray(10);
  padding: 9px 5px;
  border-radius: 0;
  color: gray(50);
  font-size: remCalc(14px);

  &:focus {
    outline-color: $c-primary;
  }
}

.toggle {
  input[type="checkbox"],
  input[type="radio"] {
    visibility: hidden;
    position: absolute;

    &:checked + span {
      background: $c-primary;
    }
  }

  span {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    margin: 0 8px 0 0;
    top: 2px;
    transition: background 0.3s;
    background: transparent;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      width: 20px;
      height: 20px;
      border: 1px solid gray(10);
    }
  }

  input[type="radio"] + span {
    &,
    &:before {
      border-radius: 50px;
    }
  }
}

.toggle-group {
  label {
    &:first-child {
      display: block;
      margin: 0 0 10px;
    }
  }

  &.-checkbox {
    .nested-label {
      width: 50%;
      display: inline-block;
      margin: 6px 0;
    }
  }
}

.input-error {
  padding: 3px 0;
  color: $c-error;
}
