.separated-list {
  margin-bottom: 40px;

  li {
    padding: 5px $p-content;
    background: $c-white;
    margin-bottom: 15px;
    box-shadow: 0px 0.7em 1em rgba($c-black, 0.12);
    transition: transform 0.4s;

    &:hover {
      transform: translateY(-2px);
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    fill: gray(50);
  }
}

.numbered-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 20px;

  li {
    display: flex;
    margin: 0 0 25px;

    div {
      flex: 1 0 0px;
    }
  }

  .iterator {
    color: $c-white;
    font-size: remCalc(35px);
    font-weight: 800;
    max-width: 60px;
  }

  .inside {
    background: $c-white;
    padding: 5px $p-content;
  }
}
